version: "3.9"

services:
  # -----------------------
  # PostgreSQL
  # -----------------------
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"


  # -----------------------
  # Redis Stack
  # -----------------------
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
      - "${REDIS_GUI_PORT}:8001"
    volumes:
      - redis_data:/data

  # -----------------------
  # Qdrant vector database
  # -----------------------
  qdrant:
    image: qdrant/qdrant:v1.11.0
    container_name: qdrant-server
    restart: always
    ports:
      - "${QDRANT_PORT_HTTP}:6333"
      - "${QDRANT_PORT_GRPC}:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  # -----------------------
  # Prometheus
  # -----------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  # -----------------------
  # Grafana
  # -----------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    depends_on:
      - prometheus
      - loki

  # -----------------------
  # Grafana Loki (logs)
  # -----------------------
  loki:
    image: grafana/loki:2.9.1
    container_name: loki
    restart: always
    ports:
      - "${LOKI_PORT}:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml:ro

volumes:
  postgres_data:
  qdrant_data:
  prometheus_data:
  redis_data:
